@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

section[epub|type~="dedication"] header{
	text-align: center;
}

section[epub|type~="dedication"] header > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

[epub|type~="dedication"] p span{
	font-size: larger;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="dedication"],
section[epub|type~="preface"]{
	break-after: page;
}
