@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

section[epub|type~="dedication"] header{
	font-variant: all-small-caps;
	text-align: center;
}

section[epub|type~="dedication"] header > p{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

[epub|type~="dedication"] p span{
	font-size: larger;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="dedication"],
section[epub|type~="preface"]{
	break-after: page;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
